<?xml version="1.0"?>
<launch>

  <!-- start twist to ackermannDrive converter for robot steering plugin -->
  <node pkg="robot_control" name="twist_to_ackermannDrive" type="twist_to_ackermannDrive.py" args="twistToAckermannDrive:=eufsa_control/teleop_vel_out" />

  <!-- start rqt robot steering module -->
  <node pkg="teleop_twist_keyboard" name="keyboard_teleop" type="teleop_twist_keyboard.py" output="screen" />

</launch>
