<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="sensor_imu" params="prefix parent *origin">
		<joint name="${prefix}_base_joint" type="fixed">
			<axis xyz="1 0 0"/>
			<!--origin xyz="0 0 0.2825"/-->
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${prefix}_base_link"/>
		</joint>
		<link name="${prefix}_base_link">
			<inertial>
				<mass value="0.001"/>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
			</inertial>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size="0.001 0.001 0.001"/>
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size=".001 .001 .001"/>
				</geometry>
			</collision>
		</link>

		<gazebo>
			<plugin filename="libhector_gazebo_ros_imu.so" name="imu_plugin">
				<alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <bodyName>${prefix}_base_link</bodyName>
        <frameId>${prefix}_base_link</frameId>
				<topicName>${prefix}</topicName>
				<serviceName>${prefix}/calibrate</serviceName>

        <rpyOffsets>0 0 0</rpyOffsets> 		<!-- deprecated -->
        <gaussianNoise>0</gaussianNoise>  <!-- deprecated -->

				<accelOffset>0.0 0.0 0.0</accelOffset>
        <accelDrift>0.0 0.0 0.0</accelDrift>
				<accelDriftFrequency>1.0 1.0 1.0</accelDriftFrequency>
        <accelGaussianNoise>0.011 0.011 0.3</accelGaussianNoise>

				<rateOffset>0.0 0.0 0.0</rateOffset>
				<rateDrift>0.0 0.0 0.0</rateDrift>
				<rateDriftFrequency>1.0 1.0 1.0</rateDriftFrequency>
				<rateGaussianNoise>0.0 0.0 0.002</rateGaussianNoise>
			</plugin>
		</gazebo>
	</xacro:macro>
</robot>
